<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box">
        <p>26 December 2019</p>
    <h3>Lorem Ipsum Dolor2</h3>
    <p class=>Lorem ipsum dolor sit amet consectetur adipisicing elit.Recusanda voluptate repellendus magni illo ea animi?</p>
    <button class="color" type="button">READ MORE</button>
    <div class="box1"></div>
</div>
    </body>
</html>
